@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

h1 {
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    color: #0ccac4;
}

.pokemon-img {
    width: 225px;
    height: auto;
}

.my-pokemon-img {
    width: 50px;
    height: auto;
}

.pokemon-data .center.ba.b--black-10.shadow-5.data {
    height: 235px;
}

.pointer {cursor: pointer;}

.react-confirm-alert-body h1 {
    font-size: unset;
    font-family: sans-serif;
}

.background-color-bug {
    background: -webkit-linear-gradient(
180deg
, #729f3f 50%, #729f3f 50%);
    background: -ms-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    background: -moz-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    background: -o-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    background: linear-gradient(
180deg
, #729f3f 50%, #729f3f 50%);
    background-color: #729f3f;
    color: #fff;
}

.background-color-grass {
    background: -webkit-linear-gradient(
180deg
, #9bcc50 50%, #9bcc50 50%);
    background: -ms-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
    background: -moz-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
    background: -o-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
    background: linear-gradient(
180deg
, #9bcc50 50%, #9bcc50 50%);
    background-color: #9bcc50;
    color: #212121;
}

.background-color-fire {
    background: -webkit-linear-gradient(
180deg
, #fd7d24 50%, #fd7d24 50%);
    background: -ms-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
    background: -moz-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
    background: -o-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
    background: linear-gradient(
180deg
, #fd7d24 50%, #fd7d24 50%);
    background-color: #fd7d24;
    color: #fff;
}

.background-color-poison {
    background: -webkit-linear-gradient(
180deg
, #b97fc9 50%, #b97fc9 50%);
    background: -ms-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background: -moz-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background: -o-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background: linear-gradient(
180deg
, #b97fc9 50%, #b97fc9 50%);
    background-color: #b97fc9;
    color: #fff;
}

.background-color-flying {
    background: -webkit-linear-gradient(
180deg
, #3dc7ef 50%, #bdb9b8 50%);
    background: -ms-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: -moz-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: -o-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: linear-gradient(
180deg
, #3dc7ef 50%, #bdb9b8 50%);
    background-color: #3dc7ef;
    color: #212121;
}

.background-color-water {
    background: -webkit-linear-gradient(
180deg
, #4592c4 50%, #4592c4 50%);
    background: -ms-linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    background: -moz-linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    background: -o-linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    background: linear-gradient(
180deg
, #4592c4 50%, #4592c4 50%);
    background-color: #4592c4;
    color: #fff;
}

.background-color-normal {
    background: -webkit-linear-gradient(
180deg
, #a4acaf 50%, #a4acaf 50%);
    background: -ms-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background: -moz-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background: -o-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background: linear-gradient(
180deg
, #a4acaf 50%, #a4acaf 50%);
    background-color: #a4acaf;
    color: #212121;
}

.background-color-electric {
    background: -webkit-linear-gradient(
180deg
, #eed535 50%, #eed535 50%);
    background: -ms-linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background: -moz-linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background: -o-linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background: linear-gradient(
180deg
, #eed535 50%, #eed535 50%);
    background-color: #eed535;
    color: #212121;
}

.background-color-electric {
    background: -webkit-linear-gradient(
180deg
, #eed535 50%, #eed535 50%);
    background: -ms-linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background: -moz-linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background: -o-linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background: linear-gradient(
180deg
, #eed535 50%, #eed535 50%);
    background-color: #eed535;
    color: #212121;
}

.background-color-fairy {
    background: -webkit-linear-gradient(
180deg
, #fdb9e9 50%, #fdb9e9 50%);
    background: -ms-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background: -moz-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background: -o-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background: linear-gradient(
180deg
, #fdb9e9 50%, #fdb9e9 50%);
    background-color: #fdb9e9;
    color: #212121;
}

.background-color-fighting {
    background: -webkit-linear-gradient(
180deg
, #d56723 50%, #d56723 50%);
    background: -ms-linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background: -moz-linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background: -o-linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background: linear-gradient(
180deg
, #d56723 50%, #d56723 50%);
    background-color: #d56723;
    color: #fff;
}

.background-color-psychic {
    background: -webkit-linear-gradient(
180deg
, #f366b9 50%, #f366b9 50%);
    background: -ms-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background: -moz-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background: -o-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background: linear-gradient(
180deg
, #f366b9 50%, #f366b9 50%);
    background-color: #f366b9;
    color: #fff;
}

.background-color-rock {
    background: -webkit-linear-gradient(
180deg
, #a38c21 50%, #a38c21 50%);
    background: -ms-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background: -moz-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background: -o-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background: linear-gradient(
180deg
, #a38c21 50%, #a38c21 50%);
    background-color: #a38c21;
    color: #fff;
}

.background-color-ground {
    background: -webkit-linear-gradient(
180deg
, #f7de3f 50%, #ab9842 50%);
    background: -ms-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background: -moz-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background: -o-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background: linear-gradient(
180deg
, #f7de3f 50%, #ab9842 50%);
    background-color: #f7de3f;
    color: #fff;
}